# Database Drivers, the Python stdlib has support for SQLite
# psycopg2
# cx_oracle
# mysql-python

# WSGI server
# uWSGI

# Deployment with fabfile.py
# Fabric

# Harvest components
serrano==2.0.18

# Harvest extensions
# django-haystack==1.2.7
# Whoosh==2.4.0
# django-guardian
# openpyxl
