# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example::
#
#     pip install -U -r requirements.txt

# Core requirements
Django>=1.4.3,<1.5
Markdown
uWSGI==1.4.4
Fabric==1.4.4

avocado>=2.0.15,<2.1
serrano>=2.0.11,<2.1
cilantro>=2.0.7,<2.1
modeltree>=1.1.3,<1.2

# Database Drivers, the Python stdlib has support for SQLite
# psycopg2
# cx_oracle
# mysql-python
