{% load url from future %}<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% block title %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel=stylesheet href="{{ STATIC_URL }}cilantro/css/style.css">
        <link rel=stylesheet href="{{ CSS_URL }}/style.css">
        {% block styles %}{% endblock %}
    </head>
    <body>
        <!--[if lt IE 9]><p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p><![endif]-->


        {% block header %}
            {% include "header.html" %}
        {% endblock %}

        <div class=container-fluid>
            <div class=row-fluid>
                <div class=span12>
                    <div id=content>
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>


        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}

        <script>{% include "cilantro.js" %}</script>
        <script src="{{ STATIC_URL }}cilantro/js/require.js"></script>
        {% block scripts %}{% endblock scripts %}

        {% if not debug %}
        <script>
            var _gaq=[['_setAccount',''],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        {% endif %}
    </body>
</html>