<div class="navbar navbar-inverse navbar-fixed-top">
    <div class=navbar-inner>
        <div class=container-fluid>
            <a href="{% url "landing" %}"><span class=brand>Harvest</span></a>
        	<ul class="nav">
                <li><a href="{% url "workspace" %}"><i class="icon-home"></i> Workspace</a></li>
                <li><a href="{% url "query" %}"><i class="icon-search"></i> Query</a></li>
                <li><a href="{% url "results" %}"><i class="icon-table"></i> Results</a></li>
            </ul>
        </div>
    </div>
</div>
